body{
    margin: auto;
}

#logo{
    margin: -3px 5px;
}

    #logo img{
        height: 30px;
}

.navbar{
    background: black !important;
}


#options{
    margin-bottom: -5px;
}

#Links{
    color: white;
    font-size: 20px;
    font-family: Impact;
    font-style: italic;
        margin-top: 2px;
}

.nav-item{
   margin: 0px 10px;
}

#Links:hover{
    color: white;
    text-decoration: underline blue;
}

#Coupon{
    position: absolute;
    z-index: 100;
    margin: 2% 17%;
    height: 30rem;
}

#Coupon img{
    height: 30rem;
}


#couponBtn{
    position: absolute;
    z-index: 100;
    font-size: 25px;
    margin: 4px 4px;
    height: 12%;
    width: 7%;
    background: black;
    color: coral;
}

#Promo{ 
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    word-wrap: break-word;
    margin: 5% 5.5%;
}

#firstHeader{
    position: absolute;
    margin: 15% 23%;
    color: white;
    background-color: none;
    border-bottom: 0px;
    font-style: italic;
    font-family: Impact;
    font-size: 45px;
}

#para1{
    position: absolute;
    margin: 30% 16%;
    color: #ffffff;
    font-size: 25px;
}

.headerCard{
    position: absolute;
    margin-top: -10%;
    width: 98%;
    margin-left: auto; margin-right: auto;
}

.headerCard h1{
    font-size: 45px;
}

.card-title {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    text-align: center;
}

.card-text{
    text-align: center;
}

.prodName{
    text-align: center;
}

#discountCard{
    width: 250px;
    margin-left: 1%;
    margin-top: 1%;
    cursor: pointer;
}

#discountCard >img{
    width: 248px;
    margin-left: -12px;
}

#discountCard > div > h4{
    text-align: center;
    margin-top: revert;
}

#discountCard > div > h3{   
    text-align: center;
    margin-top: revert;
}

#discountCard > div > h3:hover{   
    color: rgb(248, 47, 47);
}

#homeProd{
    margin-left: 1%;
    margin-top: 1%;
    width: 250px;
    cursor: pointer;
}

.FlashSale{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    margin-top: 10%;
}


#flashSale_h1{
    color: rgb(255, 255, 255);
    position: absolute;
    margin: 1% 5%;
    font-family: Impact;
    font-style: italic;
    font-size: 38px;
}

#flashSale_p{
    color: white;
    position: absolute;
    margin: 10% 5%;
    font-size: 22px;
}

.shopBtn{
    width: 11%;
    font-size: 25px;
    font-style: italic;
    font-family: impact;
    height: 19%;
    position: absolute;
    margin: 14% 5%;
}

#weightLoss{
    margin-top: 6%;
}

#header{
    color: black;
    font-family: Impact;
    font-style: italic;
    margin-top: 14%;
    margin-bottom: 3%;
}

#goalCard{
    width: 315px;
    height: 420px;
    margin-left: 10px;
    border: 0px;
}

#goalCard img{
    width: 315px;
    margin-left: -15px
}

#goal{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: -20rem;
    font-size: 40px;
    font-family: Impact;
    font-style: italic;
}

#goalCard a{
    text-align: center;
    color: white;
    font-size: 18px;
}


.social-connects{
    height: 400px;
    margin-top: 20%;
}

#connectSocial{
    display: flex;
    justify-content: center;
}

#connectSocial img{
    height: 33px;
    width: 33px;
}

.h6 a{
    margin-top: auto;
}

.social-connects .h1{
    color: rgb(0, 0, 0);
    font-family: Impact;
    font-style: italic;
}

.social-connects .card{
    height: 350px;
    width: 300px;
    background: #f5f5f5;

}

.social-cards{
    display: flex;
    justify-content: space-evenly;
    margin-left: auto; margin-right: auto;
}

.card-social{
    margin-inline: -2%;
}

#footer{
    height: 60px;
    background: black;
    margin-top: 10rem;
}

#footer img{
    height: 30px;
    margin: 15px 7px;
}

.footer-list{
    display: flex;
    justify-content: end;
    margin: -53px 35px;
}

.footer-list h5{
    color: white;
    margin: 12px 25px;
}

.list-unstyled img{
    height: 20px !important;
}

.footer-Info{
    background: #f5f5f5;
    height: 600px;
}

.h4{
    color: black;
    font-family: Impact;
    font-style: italic;
    position: absolute;
    margin: 2% 3%;
}

.inputEmail{
    position: absolute;
    margin: 5% 3%;
    border-radius: 5px;
}

.form-control{
    border-radius: 10px;
}

.help-list1{
    display: flex;
    position: absolute;
    margin: 10% 0% ;
}

.help-list1 ul li{
    list-style: none;
}

.help-list2{
    padding-left: 15%;
    list-style: none;
}

.support-list{
    color: black;
}

.bottomInfo{
    position: absolute;
    margin: 25% 12px;
}


.bottomInfo ul li{
    display :inline-flex ;
    text-decoration: underline;
    cursor: pointer;  
    margin: 0% 8px;  
}

.lowestLine{
    border: solid rgb(151, 150, 150) 1px;
    position: absolute;
    width: 80%;
    margin: 30rem 1rem;
}

.Copyrigths{
    position: absolute;
    margin: 31rem 1% ;
    display: block;
}

.Copyrigths p{
    display: initial;
}


.lastPara2{
    font-size: 12px;
}

@media only screen and (max-width: 375px){

    .d-flex {
        margin: -9% 8% !important;
        width: 70% !important;
    }

    #discountCard {
        width: 180px !important;
        margin-top: 10% !important;
        height: 280px !important ;
        margin-left: 40% !important;
    }

    #discountCard img{
        width: 180px !important;
        height: 200px !important;
    }
    
    #homeProd {
        margin-left: 40% !important;
        margin-top: 4% !important;
        width: 180px !important;
        height: 280px !important;
    }

    #homeProd img{
        height: 280px !important;
        width: 150px !important;
    }

   .shopBtn {
        width: 11%;
        font-size: 25px;
        height: 19%;
        position: absolute;
        margin: 14% 5%;
    }
}

@media only screen and (max-width: 450px){

    .d-flex{
        margin: -9% 0% !important;
        width: 70% !important;
    }

    .form-control {
        border-radius: 10px;
        height: 30px !important;
        margin: 16% 8% !important;
    }


    .btn-primary {
        height: 5% !important;
        margin: 16% 2% !important;
        font-size: 12px;
    }

    #Coupon img {
        height: 10rem !important;
        width: 20rem ;
        margin: 1% 7% ;
    }

    #couponBtn {
        font-size: 11px !important;
        margin: 6px 24px !important;
        height: 4% !important;
        width: 7% !important;
    }

    #firstHeader {
        font-size: 14px !important;
        margin: 10% 19% !important;
    }

    #para1 {
        margin-top: 26% !important;
        font-size: 10px !important;
        width: 303px;
        margin-left: auto; margin-right: auto;
    }
    

    #Promo {
        width: 95%;
        word-wrap: break-word;
        margin: 5% 3%;
    }

    #discountCard {
        width: 130px;
        margin-left: 3%;
        margin-top: 2%;
        height: 220px;
    }

    #discountCard img{
        height: 138px;
        width: 128px
    }

    #discountCard > div > h4  {
        font-size: 10px;
    }

    #discountCard > div > h3  {
        font-size: 11px;
    }

    #homeProd {
        margin-left: 3%;
        margin-top: 2%;
        width: 130px;
        height: 220px;
    }

    #homeProd > img {
        height: 120px;
    }

    .card-title {
        font-size: 10px;
        text-align: center;
    }

    .card-text {
        margin-bottom: 0rem;
        font-size: 9px;
        text-align: center;
    }

    .prodName{
        font-size: 15px;
        margin-top: 12%;
        text-align: center;
    }


    .FlashSale img{
        height: 150px;
    }

    #flashSale_h1 {
        font-size: 16px !important;
        margin: 5% 4%;
    }

    #flashSale_p {
        font-size: 9px !important;
        width: 148px;
        margin-top: 18%;
    }

    .shopBtn  {
        width: 14% !important;
        font-size: 6px !important;
        height: 15% !important;
        margin: 30% 6%;
    }

    #goalCard {
        width: 140px;
        height: 200px;
        margin-left: 10px;
        margin-top: 1%;
    }

    #goalCard img {
        width: 140px;
        height: 200px;
        margin-left: -15px;
    }

    .social-connects .h1 {
        margin-top: 15%;
    }

    .footer-list h5 {
    margin: 10px 25px;
    font-size: 15px !important;
    }

    #footer img {
        height: 16px !important;
        margin: 17px 2px !important;
    }

    .list-unstyled li {
        height: 8px !important;
        font-size: 8px !important;
    }

    .footer-list {
        margin: -47px 15px
    }

    .card-social {
        margin-inline: -2%;
    }

    #footer {
        margin-top: 15rem;
    }

    .h4 {
        margin: 7% 3% !important;
        font-size: 15px !important;
    }

    .form-control {
        border-radius: 10px;
        height: 30px;
        margin: 17% -1% !important;
    }

     .help-list1 {
        margin: 30% -7% !important;
        font-size: 11px;
    }

    .bottomInfo {
        display: flex;
        margin: 67% -22px !important;
        font-size: 12px;
    }

    .bottomInfo ul li {
        display: block !important;
        margin: 0% 11px !important;
    }

    .lowestLine {
        margin: 27rem 1rem ;
    }
}


@media only screen and (max-width: 768px){

    #Coupon {
        margin: 2% -2%;
    }

    #Coupon img {
        height: 20rem;
    }

    #couponBtn {
        font-size: 20px;
        margin: 4px 4px;
        height: 8%;
        width: 7%;
    }

    #firstHeader {
        font-size: 25px;
        margin: 12% 22%;
    }

    #para1 {
        margin-top: 28%;
        font-size: 14px;
    }

    #homeProd{
        margin-left: 1%;
        margin-top: 1%;
        width: 150px; 
        height: 260px;

    }


    #homeProd > img{
        height: 145px;
    }

    #homeProd > div >h5{
        font-size: 10px;
        margin-top: -3px
    }

    #homeProd > div >p{
        font-size: 10px;
    }

    #homeProd > div >h4{
        font-size: 12px;
    }

    #discountCard{
        width: 150px;
        margin-left: 1%;
        margin-top: 1%;
        height: 260px;
    }

    #discountCard >img{
        width: 150px;
        margin-left: -13px;
    }

    #discountCard > div > h4 {
        font-size: 10px;
        margin: 18px -6px;
    }

    #discountCard > div > h3 {
        font-size: 12px;
    }
    
    #flashSale_h1{
        font-size: 25px;
    }

    #flashSale_p {
        font-size: 12px;
    }

    .shopBtn {
        width: 10%;
        font-size: 10px;
        height: 18%;
    }

    #goal {
        margin-top: -12rem;
        font-size: 20px;
        
    }

    #goalCard a {
        font-size: 12px;
    }

    #goalCard {
        width: 200px;
        height: 280px;
        margin-left: 10px;
        margin-top: 1%;
    }

    #goalCard img {
        width: 200px;
        height: 280px;
        margin-left: -15px;
    }

    .social-connects .card {
        height: 240px;
        width: 175px;
    }
    
    #connectSocial img {
        height: 18px;
        width: 18px;
    }

    .card-social {
        margin-inline: 0%;
    }

    .card-social h5{
        font-size: 13px;
    }

    .card-social p{
        font-size: 11px;
    }

     .card-social h6{
        font-size: 9px;
    }

    #footer {
        height: 50px;
    }

    #footer img {
        height: 25px;
        margin: 16px 6px;
    }

    .footer-list h5 {
        margin: 13px 25px;
        font-size: 17px;
        
    }

    .list-unstyled img {
        height: 15px !important;
    }

    .form-control {
        border-radius: 10px;
        height: 35px;
        margin: 8% -1%;
    }

    .h4 {
        margin: 3% 3%;
        font-size: 18px;
    }

    .help-list1 {
        margin: 18% -3%;
        font-size: 11px;
    }

    .bottomInfo {
        margin: 40% -23px;
        font-size: 12px;
    }

    .bottomInfo ul li {
        margin: 0% 2px;
        font-size: 11px;
    }

    .lastpara1{
        font-size: 11.5px;
    }

    .lastPara2{
        font-size: 10px;
    }

}